@import 'src/Base/kernel';
@import 'src/Base/widesettings';
@import 'src/Base/pccompat';
@import 'src/Base/coloredicons';
@import 'src/Base/emojipicker';
@import 'src/Base/chromiumlinks';
@import 'src/Base/connectionIssueLMB';
@import 'src/Base/boostedFavs';
@import 'src/Base/addserver';
@import 'src/Base/edittime';
@import 'src/Base/bettermutualserv';
@import 'src/Base/spotify';
@import 'src/Base/connections';
@import 'src/Base/publictag';
@import 'src/Base/favicons';
@import 'src/Base/channeliconfix';
@import 'src/Base/textstylingmenu';
@import 'src/Base/contexticons';
@import 'src/Base/pluginsmenus';
@import 'src/Base/roleIcon';
@import 'src/Base/unfocus';
@import 'src/Base/bigbanner';
@import 'src/Base/repluggedlogo';
@import 'src/Base/newcord';
@import 'src/Base/betterstatuspicker';
@import 'src/Base/dash2space';
@import 'src/Base/messagelinkprev';
@import 'src/Base/betterforums'