.theme-dark .userPopoutThemed-3BZ4by.theme-light {
    --profile-gradient-primary-color: var(--background-secondary-alt) !important;
    --profile-gradient-secondary-color: var(--background-secondary-alt) !important;
    --profile-gradient-overlay-color: transparent !important;
    --profile-gradient-button-color: var(--button-secondary-background) !important;
    --profile-avatar-border-color: var(--background-secondary-alt) !important;
    --profile-message-input-border-color: var(--background-modifier-accent) !important;
    .overlayBackground-arbZMT{
        background-color: #00000073;
    }
    .rolePill-2IJ1vo {
        background-color: var(--background-secondary-alt);
    }
}