[d="M6.56929 14.6869H2.34375C1.97079 14.6869 1.61311 14.5387 1.34938 14.275C1.08566 14.0113 0.9375 13.6536 0.9375 13.2806V8.12437C0.9375 6.38389 1.6289 4.7147 2.85961 3.484C4.09032 2.25329 5.75951 1.56189 7.49999 1.56189C9.24047 1.56189 10.9097 2.25329 12.1404 3.484C12.6953 4.03895 13.1406 4.68307 13.4623 5.38267C14.9101 5.5973 16.2513 6.29124 17.2655 7.36251C18.4194 8.58133 19.0625 10.1959 19.0625 11.8744V17.0306C19.0625 17.4036 18.9144 17.7613 18.6506 18.025C18.3869 18.2887 18.0292 18.4369 17.6563 18.4369H12.5C11.1428 18.4369 9.81899 18.0162 8.71072 17.2328C7.7871 16.58 7.05103 15.7019 6.56929 14.6869ZM4.18544 4.80982C5.06451 3.93075 6.25679 3.43689 7.49999 3.43689C8.74319 3.43689 9.93549 3.93075 10.8146 4.80983C11.6936 5.6889 12.1875 6.88119 12.1875 8.12439C12.1875 9.36759 11.6936 10.5599 10.8146 11.439C9.93549 12.318 8.74321 12.8119 7.50001 12.8119H7.20268C7.19767 12.8118 7.19266 12.8118 7.18764 12.8119H2.8125V8.12438C2.8125 6.88118 3.30636 5.6889 4.18544 4.80982ZM8.672 14.5814C8.97763 15.0132 9.35591 15.3928 9.79299 15.7017C10.5847 16.2614 11.5305 16.5619 12.5 16.5619H17.1875V11.8744C17.1875 10.6755 16.7281 9.52219 15.9039 8.65159C15.3804 8.09865 14.735 7.68644 14.027 7.44246C14.0506 7.66798 14.0625 7.89557 14.0625 8.12439C14.0625 9.86487 13.3711 11.5341 12.1404 12.7648C11.1896 13.7156 9.97697 14.3445 8.672 14.5814Z"] {
  d: path(
    "M4 32.2V6.1q0-.7.65-1.4T6 4h25.95q.75 0 1.4.675Q34 5.35 34 6.1v17.8q0 .7-.65 1.4t-1.4.7H12l-6.7 6.7q-.4.4-.85.2-.45-.2-.45-.7ZM14.05 36q-.7 0-1.375-.7T12 33.9V29h25V12h5q.7 0 1.35.7.65.7.65 1.45v28q0 .5-.45.7-.45.2-.85-.2L36.05 36Z"
  );
  transform: scale(0.4) translate(0px, 1px);
}
[d="M4.25892 16.5936C3.14073 14.7086 2.74913 12.4802 3.15765 10.3269C3.56618 8.17362 4.74672 6.24353 6.47761 4.89906C8.2085 3.55459 10.3707 2.88823 12.5581 3.02511C14.7455 3.16199 16.8077 4.0927 18.3575 5.64247C19.9073 7.19223 20.838 9.25445 20.9749 11.4419C21.1118 13.6293 20.4454 15.7915 19.101 17.5224C17.7565 19.2532 15.8264 20.4338 13.6731 20.8423C11.5198 21.2509 9.29146 20.8593 7.40646 19.7411L7.40648 19.741L4.29805 20.6291C4.16944 20.6659 4.03335 20.6676 3.90387 20.634C3.7744 20.6005 3.65625 20.5329 3.56167 20.4383C3.4671 20.3437 3.39953 20.2256 3.36598 20.0961C3.33243 19.9666 3.33412 19.8306 3.37086 19.7019L4.25898 16.5935L4.25892 16.5936Z"] {
  d: path("M1.667 18.333V1.667h16.666V15H5Z");
  fill: currentColor;
  transform: translate(2.5px, 2.5px);
}

.container-2qVG6q::before {
  content: "";
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin: -12px;
  height: 38px;
  position: absolute;
  background-color: var(--background-secondary-alt);
}
.message-1zs6Od {
  max-height: unset;
  flex-direction: column;
  align-items: flex-start;
}
.message-1zs6Od .messageContent-1SOr75 {
  height: max-content;
  white-space: break-spaces;
  margin-left: 8px;
}

.message-1zs6Od > span:first-child {
  position: absolute;
  top: 12px;
  font-size: 0;
  & span {
    font-size: initial;
  }
}

.body-hCVwsC {
  margin-top: 30px;
}
.bodyMedia-3ij3KY {
  margin-top: 34px;
}
.tags-2CaEuN {
  position: absolute;
  top: 8px;
  right: 8px;
}
.tags-2CaEuN .pill-3pRQlO[aria-label] {
  display: none;
}
.container-2qVG6q {
overflow: visible;
}
.body-hCVwsC.hasUnreads-3kKLnS .newBadge-1LcB6t::after {
  content: "";
  position: absolute;
  border-radius: 80px;
  width: 5px;
  height: 90%;
  background-color: var(--interactive-active);
  left: -13px;
  top: 5%;
}