#account.menu-1QACrS {
  .item-1OdjEX::before {
    content: unset;
  }
  .headerTop-3GPUSF {
    padding: 16px;
  }
  .avatarWrapper-eenWra {
    left: unset;
    right: 16px;
  }
  .avatar-2Vndt_ svg foreignObject,
  .avatarHint-k7pYop foreignObject {
    mask: none;
  }
  .avatar-2Vndt_ svg rect {
    display: none;
  }
  .avatar-2Vndt_ img,
  .avatarHint-k7pYop {
    border-radius: 50%;
  }

  .profileBody-3QbfPe,
  .separator-1So4YB,
  .profileBadges-2pItdR,
  .copiableWrapper-2IFENG > div:not(.childWrapper-2wlp_S),
  .pencilContainer-18TrEJ,
  .description-1Dd2kv {
    display: none;
  }
}
