//https://discord.com/channels/538759280057122817/755005803303403570/994586316039794699
.connectedAccountNameText-2m46Qn {
    font-weight: 500;
}

.connectedAccountIcon-1FXG0p {
    width: 27px;
    height: 27px;
    flex-shrink: 0;
}