//https://discord.com/channels/86004744966914048/836694789898109009/949934727266177045
/* edited text */
.message-2CShn3:not(.compact-2Nkcau) {
.timestamp-p1Df1m:not(.timestampInline-_lS3aK, .timestampVisibleOnHover-9PEuZS) time::after {
    content: " (" attr(aria-label) ")";
    color: var(--text-muted);
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 1;
    text-transform: lowercase;
}

.edited-1v5nT8:not(.message-translate-indicator) {
display: none;
}
}