.container-1NXEtd[aria-label="Lucord Support (server)"] header .headerContent-2SNbie::before {
    content:"";
    margin-left: -10px;
    margin-bottom: -3px;
    display: inline-block;
    background-image: url('https://lucord.wmeluna.com/Assets/Logos/highres-moon.png');
    background-size:32px;
    height: 32px; width: 32px;;
}