//https://cumcordplugins.github.io/Condom/yellowsink.github.io/c7-cc-plugs/MessageLinkPreview/
.embedFull-1HGV2S .grid-1aWVsE {
  .embedAuthor-TJIHp5.embedMargin-2PsaQ4 {
    .embedAuthorIcon-3pnkS4 {
      border-radius: 25%;
    }
  }
  .embedDescription-1DrJxZ.embedMargin-2PsaQ4 {
    margin-top: 0;
    .message-24k8JL {
      padding-bottom: 0;
    }
  }
  [id*="message-accessories"] {
    padding-left: 0;
    margin-left: -32px;
    .embedFull-1HGV2S {
        background-color: var(--background-secondary-alt);
    }
    .reaction-3vwAF2 {
        background-color: var(--background-secondary-alt);
    }
  }
  [id*="message-link-preview"] {
    padding-left: 32px;
    .messageContent-2t3eCI {
      padding-left: 0;
      margin-left: -32px;
    }
    .avatar-2e8lTP {
      left: 0;
      height: 24px;
      width: 24px;
      border-radius: 25%;
      margin-top: 0;
    }
    h2.header-2jRmjb {
      margin-top: 4px;
      margin-bottom: 0;
    }
  }
}
