
html.platform-win,
html.platform-linux {
    --text-branding: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='10' version='1.0' viewBox='0 0 50 10'%3E%3Cpath d='M19.181.085c-.86.136-1.669.525-2.191 1.055a3.061 3.061 0 0 0-.785 1.369c-.079.269-.079.29-.079 2.491 0 2.197.004 2.223.079 2.491.409 1.454 1.737 2.382 3.522 2.461a3.699 3.699 0 0 0 1.416-.195c.355-.119.925-.413.911-.475-.004-.021.007-.031.024-.021.037.024.232-.116.491-.355.331-.304.86-1.061.789-1.123a77.953 77.953 0 0 0-2.075-.959.521.521 0 0 0-.092.144c-.156.311-.549.586-.945.673-.665.14-1.396-.144-1.615-.625-.057-.129-.065-.259-.065-2.034 0-1.767.007-1.905.065-2.031.297-.641 1.379-.871 2.161-.454.185.099.446.338.529.488.037.065.083.051 1.006-.321.532-.215.979-.403.996-.416.037-.034-.215-.499-.426-.789a4.156 4.156 0 0 0-1.01-.925 3.978 3.978 0 0 0-1.229-.451 5.97 5.97 0 0 0-1.479 0zm8.227-.016c-1.663.211-2.884 1.126-3.252 2.441-.075.266-.079.318-.089 2.365-.01 2.314-.004 2.426.201 2.942.208.515.655 1.061 1.14 1.389 1.839 1.242 4.829.905 6.031-.679.365-.478.546-.953.607-1.584.041-.436.041-3.444 0-3.881a2.846 2.846 0 0 0-.256-1.004c-.453-.985-1.398-1.652-2.73-1.924a6.969 6.969 0 0 0-1.653-.065zm1.242 2.269c.409.109.727.328.881.615.075.134.075.164.085 1.963.007 1.298 0 1.864-.027 1.959-.129.436-.576.727-1.245.799-.819.092-1.539-.185-1.771-.676-.069-.15-.071-.201-.083-1.891-.007-1.177.004-1.795.027-1.917.095-.451.522-.789 1.136-.901.229-.041.744-.014.996.051zM0 5v4.829h6.416l-.007-1.205-.01-1.201-1.969-.01-1.973-.007V.171H0V5zm7.168-1.598c0 1.905.014 3.369.034 3.559.161 1.522 1.195 2.58 2.877 2.942.471.099 1.399.109 1.833.014.943-.201 1.591-.542 2.14-1.126a2.954 2.954 0 0 0 .645-1.045c.188-.532.185-.488.185-4.168V.171h-2.458l-.007 3.351-.01 3.355-.095.195a1.172 1.172 0 0 1-.584.542c-.789.369-1.809.027-2.021-.676-.041-.129-.048-.734-.048-3.464V.171H7.168v3.232zm26.211 1.594V9.83h2.458V6.741l.222.01.219.014 1.116 1.532 1.119 1.532h1.512c.833 0 1.512-.007 1.512-.01 0-.007-.584-.747-1.298-1.649a69.874 69.874 0 0 1-1.298-1.659c0-.014.021-.027.048-.027s.185-.069.351-.15c.86-.434 1.338-1.256 1.451-2.501.119-1.311-.297-2.389-1.15-2.996-.383-.274-.792-.441-1.383-.57-.307-.069-.446-.071-2.601-.085L33.379.168v4.829zm4.294-2.487c.777.232 1.01 1.294.403 1.854-.274.253-.413.28-1.385.28h-.854V2.458h.829c.645 0 .871.01 1.006.051zM42.185 5v4.834l2.178-.014c2.058-.01 2.191-.018 2.491-.085.925-.208 1.611-.591 2.065-1.15.208-.256.446-.736.542-1.093.071-.264.075-.341.089-2.252.014-2.426-.01-2.679-.307-3.276-.447-.884-1.219-1.427-2.424-1.696-.301-.069-.434-.075-2.475-.085l-2.16-.014v4.834zm4.239-2.481c.225.075.441.249.554.451l.106.188v3.653l-.079.161a1.013 1.013 0 0 1-.539.475c-.185.071-.266.079-1.01.092l-.813.014V2.454l.829.014c.519.007.874.027.953.051z'/%3E%3C/svg%3E");
  .titleBar-1it3bQ {
    height: 28px;
    margin-top: 4px;
  .wordmark-2u86JB {
    svg {display: none;}
    position: absolute;
    top: 0;
    left: 0;
    color: var(--text-muted);
    padding: 4px 9px 3px;
    &::before{
        content: "";
        top: 11px;
        left: 16px;
        height: 10px;
        width: 50px;
        position: absolute;
        background:var(--text-muted);
        mask: var(--text-branding);
    }
  }
  .winButton-3UMjdg {
    height: 32px;
    width: 42px;
  }
}

}
